<div class="main">
    <div class="userContainer">
        <div>
            <img src="{{currentUser?.imageUrl}}/{{currentUser?.id}}" alt="">
        </div>
            <fieldset class="info">
                <legend>Info</legend>
                <h3>{{currentUser?.prefix}} {{currentUser?.name}} {{currentUser?.lastName}}</h3>
                <h3 class="title">{{currentUser?.title}}</h3>
                <ul>
                    <li><span class="underlined">Email:</span> {{currentUser?.email}} </li>
                    <li><span class="underlined">Ip Address:</span> {{currentUser?.ip}}</li>
                    <li><span class="underlined">Ip Address:</span> {{currentUser?.ip}}</li>
                    <li><span class="underlined">Job Area:</span> {{currentUser?.jobArea}}</li>
                    <li><span class="underlined">Job Type:</span> {{currentUser?.jobType}}</li>
                </ul>
            </fieldset>
        
        <fieldset class="address">
            <legend>Address</legend>       
            <h3>{{currentUser?.company.name}} {{currentUser?.company.suffix}}</h3>

            <ul>
                <li><span class="underlined">City:</span> {{currentUser?.address.city}} </li>
                <li><span class="underlined">Country:</span> {{currentUser?.address.country}}</li>
                <li><span class="underlined">State:</span> {{currentUser?.address.state}}</li>
                <li><span class="underlined">Street Address:</span> {{currentUser?.address.streetAddress}}</li>
                <li><span class="underlined">ZIP:</span> {{currentUser?.address.zipCode}}</li>
            </ul>
        </fieldset>
    </div>

    
</div>